<!DOCTYPE HTML>
<html>
	<head>
		<title>Erthalion's site</title>

		<meta name="description" content="Some comments for site" />
		<meta name="keywords" content="fun smiles, comments" />
		<meta name="author" content="Erthalion" />
		<meta name="robots" content="nofollow" />
		<meta charset="UTF-8" />		
		
		<link rel="stylesheet" type="text/css" href="css/error.css?v=1" />
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css?v=1" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24190660-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

</head>
	
<body>
</body>

<div class="errorMessage">
	<p>Что-то пошло не так...</p>
</div>

</html>
