<!DOCTYPE HTML>
<html>
	<head>
		<title>Движущиеся картинки</title>

		<meta name="description" content="Some interesting video for site" />
		<meta name="keywords" content="fun video" />
		<meta name="author" content="Erthalion" />
		<meta charset="UTF-8" />		
		
		<link rel="stylesheet" type="text/css" href="css/video.css?v=1" />
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css?v=1" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24190660-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

</head>
	
<body>
	<div id="video">
		<ul>
			<li>
				<iframe src="http://player.vimeo.com/video/8581392?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0"></iframe>
			</li>
		</ul>
	</div>
</body>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script src="js/comments.js"></script>
		<script src="js/jquery.emotions.minify.js"></script>
</html>
