.main-panel
{
	margin:0 auto;
	color: #FFFFFF;
	height: 100%;
	position:absolute ! important;
	width: 100%;
	z-index:1001 ! important;
}

body {
	background: #000;
	margin:0;
	padding:0;
	overflow:hidden;
}

#head
{
	text-align: center;
}

#links
{
	float: left;
	width: 40%;
}

#news
{
	float: right;
	color: white;
	width: 40%;
}

h3 
{
	background: #777777;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	text-align: center;
	text-shadow: white 1px 1px 2px, white 0 0 1em; /* Параметры тени */
    font-size: 1.5em; /* Размер надписи */
    font-family: arial;
}

li 
{
	text-align: left;
	font-family: arial;
	color: #777777;
}

li:hover
{
	background: #000000;
	text-shadow: black 1px 1px 2px, red 0 0 1em;
}

#osmosis
{
	width: 64px;
	height: 64px;
	background: url("../../images/osmosis.png");
}

#osmosis:hover
{
	width: 64px;
	height: 64px;
	cursor: pointer;
	background: url("../../images/osmosis_light.png");
}
